<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    <div class="ctx">
        <div class="title">网页</div>
        <div class="submit">领取卡劵</div>
        <div class="cardDetail">
            <div class="context">
                <h2 class="smallTitle"></h2>
                <h1 class="BigTitle">8折全场折扣卷</h1>
                <span class="ctx">2016.1-2018.12</span>
                <span class="ctx">全天候可用</span>
                <span class="ctx">不可与其他优惠共享</span>

            </div>
            <div class="submit">立即领取</div>
        </div>
    </div>
</body>
</html>